<!DOCTYPE html>
<html>

  
      <head>
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rock+Salt&display=swap');
          </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen" /> 
        <meta charset="utf-8">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">
                <a class="navbar-brand" href="/">Gal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/works">Works</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="/photos">Photo Gallery</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <div class="header">
              <h1>About</h1>
            </div>   
      </head>
    
      <body>
     
          
          <p class="text">
            Gal Gadot-Varsano, born 30 April 1985 is an Israeli actress and model. At age 18, she was crowned Miss Israel 2004. She then served two years in the Israel Defense Forces as a soldier, whereafter she began studying at the IDC Herzliya college, while building her modeling and acting careers.[6][7][8]

            Gadot's first international film role came as Gisele Yashar in Fast & Furious (2009), a role she reprised in several subsequent installments of the film franchise. She went on to achieve global stardom for portraying Diana Prince / Wonder Woman in the DC Extended Universe, beginning with Batman v Superman: Dawn of Justice (2016), followed by the solo film Wonder Woman (2017), the ensemble Justice League (2017), the sequel Wonder Woman 1984 (2020), and the alternate cut Zack Snyder's Justice League (2021).[9][10] She also starred alongside Dwayne Johnson and Ryan Reynolds in the Netflix action comedy film Red Notice (2021); and stars as Linnet Ridgeway-Doyle in Kenneth Branagh's mystery drama adaptation of Agatha Christie's Death on the Nile (2022).
            
            Dubbed the "biggest Israeli superstar" by local media outlets,[11] Gadot was named one of the 100 most influential people in the world by Time magazine in 2018 and has placed twice in annual rankings of the world's highest-paid actresses.     
          </p>
    
  </body>
</html>